html
    head
        title Movie Database
    body(class="inApp")
        div#movieDataPage
            if loggedin
                button#logout(class="button" style="float:right;") Logout
            h1(align="right")
            a(class="button" href="/") Home
            a(class="button" href="/advancedSearch") Advanced Search
            if loggedin
                a(class="button" href="/profile") #{"Hi "+username}
            else 
                a(class="button" href="/loginOrSignup") Login/Signup
            a(class="button" href="/contribute") Contribute
            if loggedin
                a(class="button" href="/users") View Users
            br
            br
            br
            div(class="column")
                span#Poster 
                img(src=Poster)
            div#left(class="column details")
                div
                    span= "Title: " + Title
                    
                div
                    span= "Year: " +Year
                div
                    span= "Rated: " +Rated
                div
                    span= "Released: " +Released
                div
                    span= "Runtime: " +Runtime
                div
                    span= "Awards: " +Awards
                div
                    span= "Plot: " +Plot
                div
                    span= "Genre: "
                    each val in Genre
                        a(href='/genre/'+val) #{val+", "}
                div
                    span= "Actors: "
                    each val in Actors
                        a(href='/actor/'+val) #{val+", "}   

                div
                    span= "Director: "
                    each val in Director
                        a(href='/director/'+val) #{val+", "}   
                div
                    span= "Writer: "
                    each val in Writer
                        a(href='/writer/'+val) #{val+", "}  
            div
                if loggedin
                    button#addToWatchList(class="button watchListButton") Add to watch list

            div 
                h2(class="label") Recommended Movies:
                each movie in recommendedMovies  
                    div
                        a(href='/movie/'+movie.Title) #{movie.Title}
                br 
            div 
                h2(class="label") Reviews:
                each review in reviews  
                    div
                        a(href='/review/'+review._id) #{review.reviewScore+"/10  - " +review.reviewSummary}
                br 
            if loggedin
                h2(class="label") Add a Review:
               
                form#reviewForm
                    p(class="label") Review Score:
                    input#reviewScore(type="number" min="0" max="10" required)
                    p(class="label") Review Summary:
                    input#reviewSummary(type="text" required)
                    p(class="label") Full Review Text:
                    textarea#fullReviewText(rows="7" required)
                    br
                    br
                    div
                        button#submitReview(class="b2") Submit Review
            else
                span Please 
                a(href="/loginOrSignup") Login
                span  to add a review    
                    

    script(src="/client.js")
    link(href="/index.css" rel="stylesheet" )
